# Color Scheme (https://github.com/Rigellute/rigel)
#                           BORDER   BACKGROUND  TEXT     INDICATOR
client.focused              #002635  #002635     #ffcc1b  #c43061
client.focused_inactive     #002635  #002635     #e6e6dc  #c43061
client.unfocused            #002635  #002635     #e6e6dc  #212121
client.urgent               #002635  #002635     #e6e6dc  #ff5a67


# General Settings
## variables
set $mod mod4
set $mod2 mod1

## misc
font pango:Source Code Pro Medium 9
workspace_auto_back_and_forth yes
floating_modifier $mod
new_window none
hide_edge_borders both
force_display_urgency_hint 0 ms
focus_on_window_activation urgent

## i3/x11 hotkeys
bindsym $mod+Shift+c reload
bindsym $mod+Shift+r restart
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
bindsym $mod+Shift+q kill

## i3-gaps
for_window [class="^.*"] border pixel 0
gaps inner 10
smart_gaps on
smart_borders on


# Workspaces
## switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

## move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

## iterate through all workspaces
bindsym $mod+Tab workspace next
bindsym $mod+Shift+Tab workspace prev
bindsym $mod+asciicircum workspace back_and_forth
bindsym $mod+u workspace back_and_forth

## move workspace to other output
bindsym $mod+$mod2+Left move workspace to output left
bindsym $mod+$mod2+Down move workspace to output down
bindsym $mod+$mod2+Up move workspace to output up
bindsym $mod+$mod2+Right move workspace to output right


# Container
## split orientation
bindsym $mod+n split h
bindsym $mod+v split v

# container layout
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

## toggle tiling / floating
bindsym $mod+Shift+space floating toggle
bindsym $mod+t sticky toggle

## toggle fullscreen mode
bindsym $mod+f fullscreen

## container focus
bindsym $mod+a focus parent
bindsym $mod+d focus child


# Windows
## move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

## change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

## resize window
mode "resize" {
    bindsym j resize shrink width 10 px or 10 ppt
    bindsym k resize grow height 10 px or 10 ppt
    bindsym l resize shrink height 10 px or 10 ppt
    bindsym odiaeresis resize grow width 10 px or 10 ppt

    bindsym Left resize shrink width 10 px or 10 ppt
    bindsym Down resize grow height 10 px or 10 ppt
    bindsym Up resize shrink height 10 px or 10 ppt
    bindsym Right resize grow width 10 px or 10 ppt

    bindsym m resize shrink width 2560 px; resize shrink height 1440 px; mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

## correct handling of floating windows
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="dialog"] floating enable
for_window [window_role="menu"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [class="Alacritty" instance="AlacrittyLauncher"] floating enable


# Hotkeys
## terminals
bindsym $mod+Return exec --no-startup-id alacritty
bindsym $mod+Mod1+Return exec cool-retro-term --fullscreen

## power
bindsym XF86Sleep exec --no-startup-id systemctl suspend

## screen
bindsym $mod+Escape exec --no-startup-id sleep 1 && xset dpms force off
bindsym XF86MonBrightnessUp exec --no-startup-id xbacklight -time 0 -inc 5%
bindsym XF86MonBrightnessDown exec --no-startup-id xbacklight -time 0 -dec 5%

## volume/media
bindsym $mod+Pause exec --no-startup-id pamixer --default-source --toggle-mute
bindsym XF86AudioRaiseVolume exec --no-startup-id pamixer --increase 5
bindsym XF86AudioLowerVolume exec --no-startup-id pamixer --decrease 5
bindsym XF86AudioMute exec --no-startup-id pamixer --toggle-mute
bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause
bindsym XF86AudioStop exec --no-startup-id playerctl stop
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym XF86AudioPrev exec --no-startup-id playerctl previous

## launcher
bindsym $mod2+space exec --no-startup-id sh "$HOME/.config/dotfiles/alacritty/alacritty-launcher" bash "$HOME/.config/dotfiles/fzf/fzf-xdg-open"
bindsym $mod+space exec --no-startup-id rofi -show drun -show-icons
bindsym $mod+y exec --no-startup-id sh "$HOME/.config/dotfiles/alacritty/alacritty-launcher" bash "$HOME/.config/dotfiles/fzf/fzf-pass" --preview
bindsym $mod+x exec --no-startup-id rofi -location 1 -yoffset 27 -show ssh
bindsym $mod+i exec --no-startup-id rofi -show window


## screenshot
bindsym $mod+Shift+s exec maim --select --hidecursor | xclip -selection clipboard -t image/png -i
bindsym Print exec xfce4-screenshooter --fullscreen --save /dev/stdout | xclip -selection clipboard -t image/png -i
bindsym $mod+Print exec xfce4-screenshooter --fullscreen --open gimp

## applications
bindsym $mod+$mod2+f exec --no-startup-id firefox-developer-edition
bindsym $mod+$mod2+s exec --no-startup-id spotify
bindsym $mod+$mod2+t exec --no-startup-id thunderbird
bindsym $mod+m exec --no-startup-id alacritty -t "ncmpcpp/mpd" -e ncmpcpp

## F-keys
bindsym $mod+$mod2+F8 exec --no-startup-id bash "$HOME/.config/dotfiles/scripts/wallpaper" --next
bindsym $mod+$mod2+F9 exec --no-startup-id bash "$HOME/.config/dotfiles/xorg/screen-temp" --reset
bindsym $mod+$mod2+F10 exec --no-startup-id bash "$HOME/.config/dotfiles/xorg/screen-temp" --toggle "0:1 3500:0.95 3000:0.9 2900:0.85"
bindsym $mod+$mod2+F11 exec --no-startup-id bash "$HOME/.config/dotfiles/xorg/screen-invert" --output eDP1 --all-pointers --toggle
bindsym $mod+$mod2+F12 exec --no-startup-id bash "$HOME/.config/dotfiles/fzf/fzf-cache" update --force


# Network
bindsym $mod+$mod2+9 exec --no-startup-id sudo netctl start ethernet-dhcp
bindsym $mod+$mod2+0 exec --no-startup-id sudo netctl stop-all && sudo ip link set wlp4s0 down && sudo ip link set enp0s31f6 down && sudo rm -f /run/resolvconf/interfaces/enp0s31f6.dhcp
bindsym $mod+$mod2+ssharp exec --no-startup-id sh "$HOME/.config/dotfiles/alacritty/alacritty-launcher" bash "$HOME/.config/dotfiles/fzf/fzf-netctl"


# Autostart
## x11/display
exec --no-startup-id compton -b
exec --no-startup-id xbacklight -set 5%
exec --no-startup-id bash "$HOME/.config/dotfiles/scripts/wallpaper" --random
exec --no-startup-id xset r rate 250 45

## audio
exec --no-startup-id start-pulseaudio-x11
exec --no-startup-id pamixer --sink "alsa_output.pci-0000_00_1f.3.analog-stereo" --mute

## bars
exec_always --no-startup-id "$HOME/.config/polybar/launch.sh"
