[Unit]
Description=Automatically pull and push password store

[Timer]
WakeSystem=false
Unit=password-store-git.service
Persistent=true
OnCalendar=00/4:00

[Install]
WantedBy=timers.target
