[Unit]
Description=automatic git pull and push for password-store
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/.password-store
Environment=GIT_SSH_COMMAND="ssh -o VisualHostKey=no"
ExecStartPre=/usr/bin/mkdir -p '%T/%u/'
ExecStart=/usr/bin/flock --exclusive --nonblock '%T/%u/%N.lock' --command 'git pull --rebase; git push'
