[Unit]
Description=Automatically changing/rotating wallpaper

[Timer]
WakeSystem=false
Unit=wallpaper-rotate.service
OnCalendar=00/1:00

[Install]
WantedBy=timers.target
